Prototype/CyberFunkPrototype/CyberFunkPrototype.sln
Prototype/CyberFunkPrototype/.vs/CyberFunkPrototype/v15/Server/sqlite3/storage.ide-wal
Prototype/CyberFunkPrototype/.vs/CyberFunkPrototype/v15/Server/sqlite3/storage.ide-shm
Prototype/CyberFunkPrototype/.vs/CyberFunkPrototype/v15/Server/sqlite3/storage.ide
Prototype/CyberFunkPrototype/.vs/CyberFunkPrototype/v15/Server/sqlite3/db.lock
Prototype/CyberFunkPrototype/.vs/CyberFunkPrototype/v15/.suo
Prototype/CyberFunkPrototype/Library/
Prototype/CyberFunkPrototype/ProjectSettings/NetworkManager.asset
Prototype/CyberFunkPrototype/ProjectSettings/NavMeshAreas.asset
Prototype/CyberFunkPrototype/ProjectSettings/InputManager.asset
Prototype/CyberFunkPrototype/ProjectSettings/GraphicsSettings.asset
Prototype/CyberFunkPrototype/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Prototype/CyberFunkPrototype/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
Prototype/CyberFunkPrototype/ProjectSettings/XRSettings.asset
Prototype/CyberFunkPrototype/ProjectSettings/VFXManager.asset
Prototype/CyberFunkPrototype/ProjectSettings/AudioManager.asset
Prototype/CyberFunkPrototype/Packages/manifest.json
Prototype/CyberFunkPrototype/Logs/Packages-Update.log
Prototype/CyberFunkPrototype/ProjectSettings/EditorSettings.asset
Prototype/CyberFunkPrototype/ProjectSettings/EditorBuildSettings.asset
Prototype/CyberFunkPrototype/ProjectSettings/DynamicsManager.asset
Prototype/CyberFunkPrototype/ProjectSettings/ClusterInputManager.asset
Prototype/CyberFunkPrototype/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Prototype/CyberFunkPrototype/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Prototype/CyberFunkPrototype/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Prototype/CyberFunkPrototype/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Prototype/CyberFunkPrototype/ProjectSettings/PresetManager.asset
Prototype/CyberFunkPrototype/ProjectSettings/Physics2DSettings.asset
Prototype/CyberFunkPrototype/ProjectSettings/UnityConnectSettings.asset
Prototype/CyberFunkPrototype/ProjectSettings/TimeManager.asset
Prototype/CyberFunkPrototype/ProjectSettings/TagManager.asset
Prototype/CyberFunkPrototype/ProjectSettings/ProjectVersion.txt
Prototype/CyberFunkPrototype/ProjectSettings/ProjectSettings.asset
Prototype/CyberFunkPrototype/ProjectSettings/QualitySettings.asset
Prototype/CyberFunkPrototype/Temp/
